*{
    padding: 0;
    margin: 0;
}
    
canvas {
   background: #eeeeee;
   display: block;
   border: 2px solid white;
}
    
#gameOverScreen{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.hidden{
    display: none !important;
}

.popup{
       
    background: white;
       
    color: black;
       
    padding: 30px;
        
    border-radius: 10px;
        
    text-align: center;
      
}
      
.popup button {
        
    margin-top: 20px;
        
    padding: 10px 20px;
        
    cursor: pointer;
     
}
      
.bg-color{
       
    background-color: black;
      
}